In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('Thriller_movie_datas.csv')

In [73]:
data.iloc[1:20]

                   Movie_Name  Ratings  Voting_Counts  Durations     Genre
1                     Heretic      7.0         127000        111  Thriller
2                    Twisters      6.5         163000        122  Thriller
3                    Conclave      7.4         139000          0  Thriller
4                        Trap      5.8         134000        105  Thriller
5                    Babygirl      6.0          50000        114  Thriller
6       Venom: The Last Dance      6.0         112000        110  Thriller
7                    Longlegs      6.6         181000        101  Thriller
8   Pushpa: The Rule - Part 2      6.1          55000        201  Thriller
9                    Presence      6.1          19000         84  Thriller
10                Blink Twice      6.5         103000        102  Thriller
11                  The Order      6.8          39000        116  Thriller
12    Furiosa: A Mad Max Saga      7.5         282000        148  Thriller
13             Alien: Romulus      7.1         240000        119  Thriller
14               Emilia Pérez      5.4          86000        132  Thriller
15                    Smile 2      6.7          99000        127  Thriller
16                   Juror #2      7.0          94000        114  Thriller
17                       Eden      6.1            827          0  Thriller
18              The Beekeeper      6.3         154000        105  Thriller
19                  Civil War      7.0         234000        109  Thriller

In [10]:
data1=pd.read_csv('Action_movie_datas.csv')
data1

                    Movie_Name  Ratings  Voting_Counts  Durations   Genre
0            Kraven the Hunter      5.5          49000        127  Action
1                     Twisters      6.5         163000        122  Action
2                 Gladiator II      6.5         221000        148  Action
3         Sonic the Hedgehog 3      6.9          55000        110  Action
4        Venom: The Last Dance      6.0         112000        110  Action
..                         ...      ...            ...        ...     ...
793            Lealtad o Morir      8.2              9         87  Action
794  PW V: Tears of the Fallen      8.2             11          0  Action
795                    Gadha17      8.0             11         90  Action
796      Bring Back the Colour      5.9              7          0  Action
797                 Killer Lee      1.9              9         87  Action

[798 rows x 5 columns]

In [12]:
data2=pd.read_csv('Adventure_movie_datas.csv')
data2

,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,Mufasa: The Lion King,6.6,54000,118,Adventure
1,Moana 2,6.6,95000,100,Adventure
2,Flow,7.9,66000,85,Adventure
3,Twisters,6.5,163000,122,Adventure
4,Gladiator II,6.5,221000,148,Adventure
...,...,...,...,...,...
266,Benjamin Bat,8.1,28,75,Adventure
267,Z-Mom,4.7,43,90,Adventure
268,Mesken (Messuage),7.5,37,102,Adventure
269,Rocky and Bullwinkle,9.1,12,100,Adventure
270,Dikkie Dik 2: Een Nieuwe Vriend voor Dikkie Dik,7.4,72,70,Adventure

In [14]:
data3=pd.read_csv('Comedy_movie_datas.csv')
data3

                    Movie_Name  Ratings  Voting_Counts  Durations   Genre
0                        Anora      7.5         168000        139  Comedy
1                      Moana 2      6.6          95000        100  Comedy
2                    Riff Raff      5.8           2200        103  Comedy
3         Sonic the Hedgehog 3      6.9          55000        110  Comedy
4                  A Real Pain      7.1          81000         90  Comedy
...                        ...      ...            ...        ...     ...
1318  Kak ya vstretil eyo mamu      4.3             41         89  Comedy
1319                 Trip-Tych      6.9             28         80  Comedy
1320              Bhale Unnade      9.0           3100        137  Comedy
1321      Happy Birthday to Me      8.3             88        112  Comedy
1322              Cuadrilátero      7.5              8         81  Comedy

[1323 rows x 5 columns]

In [16]:
data4=pd.read_csv('Crime_movie_datas.csv')
data4

,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,Trap,5.8,134000,105,Crime
1,Riff Raff,5.8,2200,103,Crime
2,Longlegs,6.6,181000,101,Crime
3,Pushpa: The Rule - Part 2,6.1,55000,201,Crime
4,The Order,6.8,39000,116,Crime
...,...,...,...,...,...
579,Runnin' from Wolves,7.2,10,133,Crime
580,Nacida Para Vengar,8.0,9,102,Crime
581,Der Wien-Krimi: Blind ermittelt - Tod im Palais,6.7,29,88,Crime
582,Mudo Kannu,7.2,2100,100,Crime
583,Las Hermanas Del Cartel,8.2,5,91,Crime

In [18]:
data5=pd.read_csv('Horror_movie_datas.csv')
data5

           Movie_Name  Ratings  Voting_Counts  Durations   Genre
0       The Substance      7.3         288000        141  Horror
1           Nosferatu      7.3         184000        132  Horror
2             Heretic      7.0         127000        111  Horror
3                Trap      5.8         134000        105  Horror
4            Longlegs      6.6         181000        101  Horror
..                ...      ...            ...        ...     ...
964  Gentleman Caller      8.5              9        103  Horror
965          Cintihar      2.5             11         77  Horror
966             Yagna      5.9           1100        131  Horror
967    Once Passed On      6.6              6         91  Horror
968             Rahha      2.7             13        135  Horror

[969 rows x 5 columns]

In [57]:
imdb_movie_data_2024 = pd.concat([data, data1,data2,data3,data4,data5],ignore_index=True)

In [22]:
imdb_movie_datas

            Movie_Name  Ratings  Voting_Counts  Durations     Genre
0    Kraven the Hunter      5.5          49000        127  Thriller
1              Heretic      7.0         127000        111  Thriller
2             Twisters      6.5         163000        122  Thriller
3             Conclave      7.4         139000          0  Thriller
4                 Trap      5.8         134000        105  Thriller
..                 ...      ...            ...        ...       ...
964   Gentleman Caller      8.5              9        103    Horror
965           Cintihar      2.5             11         77    Horror
966              Yagna      5.9           1100        131    Horror
967     Once Passed On      6.6              6         91    Horror
968              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [24]:
imdb_movie_datas.tail(50)

,Movie_Name,Ratings,Voting_Counts,Durations,Genre
919,Biswas Villa-An Unfinished Story,8.6,21,0,Horror
920,Laberinto de sombras,6.7,7,110,Horror
921,FPS,3.9,17,0,Horror
922,The Clot,2.8,27,79,Horror
923,The Monsters Under Our Bed,5.9,11,127,Horror
924,Hantu Polong,3.0,8,90,Horror
925,Sobe: Sakalli Bebek,5.0,17,86,Horror
926,New Tokyo Poltergeist,5.3,7,88,Horror
927,Peccatum,1.8,21,68,Horror
928,Unwelcome Home,7.6,6,75,Horror
929,Where the Mountain Women Sing,5.9,9,0,Horror
930,Tales of the Forgotten,5.8,9,170,Horror
931,El Kafirun,6.5,17,70,Horror
932,After Link,7.5,20,0,Horror
933,Malee,4.2,8,85,Horror
934,Dead Name,9.0,11,84,Horror
935,Don't Open the Box,7.0,8,0,Horror
936,Stab 4: Knife of Doom,5.4,14,98,Horror
937,Naalkane Aayama,5.4,1700,108,Horror
938,Town Mall 2,6.6,15,86,Horror
939,Stalked by Shadows,3.4,9,0,Horror
940,Kabandha,9.3,29,124,Horror
941,Der Dritte Gast,3.3,41,73,Horror
942,Dreams of flesh,6.8,6,0,Horror
943,Protanopia,7.9,12,75,Horror
944,Tragic,8.9,19,96,Horror
945,The Vent,8.9,14,0,Horror
946,Pinnil Oral,6.0,113,127,Horror
947,Abduction Chronicles,8.6,35,126,Horror
948,Condemned,8.8,11,72,Horror
949,Nenu Keerthana,9.0,2100,155,Horror
950,Liu mang qu mo shi,5.3,10,104,Horror
951,Spending Some Time Together,6.9,28,146,Horror
952,Boney Island Reality Show,4.3,23,87,Horror
953,Kurban: Budak Iblis,4.4,14,87,Horror
954,Ahbar,3.0,15,80,Horror
955,Requiem: Three Tales of Horror,3.6,34,0,Horror
956,Harruk,4.5,22,70,Horror
957,Jyukinshi,3.0,9,103,Horror
958,Amir,5.8,16,70,Horror
959,Ciudad Oculta,4.5,12,96,Horror
960,Colour Palette,9.0,23,87,Horror
961,Tan-Ti-Ana,6.0,25,95,Horror
962,El Juego 2: La Maldición del Bosque,5.9,8,97,Horror
963,On the Trail of Bigfoot: The Ancients,6.2,7,140,Horror
964,Gentleman Caller,8.5,9,103,Horror
965,Cintihar,2.5,11,77,Horror
966,Yagna,5.9,1100,131,Horror
967,Once Passed On,6.6,6,91,Horror
968,Rahha,2.7,13,135,Horror

In [26]:
imdb_movie_datas.shape

(5109, 5)

In [28]:
imdb_movie_datas.isnull().sum()

Movie_Name       0
Ratings          0
Voting_Counts    0
Durations        0
Genre            0
dtype: int64

In [30]:
imdb_movie_datas.duplicated().sum()

0

In [38]:
imdb_movie_datas

                      Movie_Name  Ratings  Voting_Counts  Durations     Genre
0              Kraven the Hunter      5.5          49000        127  Thriller
1                        Heretic      7.0         127000        111  Thriller
2                       Twisters      6.5         163000        122  Thriller
3                       Conclave      7.4         139000          0  Thriller
4                           Trap      5.8         134000        105  Thriller
...                          ...      ...            ...        ...       ...
965                     Cintihar      2.5             11         77    Horror
966                        Yagna      5.9           1100        131    Horror
967               Once Passed On      6.6              6         91    Horror
968                        Rahha      2.7             13        135    Horror
Voting_Counts                  6      6.0              6          6         6

[5110 rows x 5 columns]

In [40]:
imdb_movie_datas.drop('Voting_Counts')

            Movie_Name  Ratings  Voting_Counts  Durations     Genre
0    Kraven the Hunter      5.5          49000        127  Thriller
1              Heretic      7.0         127000        111  Thriller
2             Twisters      6.5         163000        122  Thriller
3             Conclave      7.4         139000          0  Thriller
4                 Trap      5.8         134000        105  Thriller
..                 ...      ...            ...        ...       ...
964   Gentleman Caller      8.5              9        103    Horror
965           Cintihar      2.5             11         77    Horror
966              Yagna      5.9           1100        131    Horror
967     Once Passed On      6.6              6         91    Horror
968              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [44]:
imdb_movie_datas.tail()

                   Movie_Name  Ratings  Voting_Counts  Durations   Genre
965                  Cintihar      2.5             11         77  Horror
966                     Yagna      5.9           1100        131  Horror
967            Once Passed On      6.6              6         91  Horror
968                     Rahha      2.7             13        135  Horror
Voting_Counts               6      6.0              6          6       6

In [46]:
imdb_movie_data=imdb_movie_datas.drop('Voting_Counts')

In [48]:
imdb_movie_data

            Movie_Name  Ratings  Voting_Counts  Durations     Genre
0    Kraven the Hunter      5.5          49000        127  Thriller
1              Heretic      7.0         127000        111  Thriller
2             Twisters      6.5         163000        122  Thriller
3             Conclave      7.4         139000          0  Thriller
4                 Trap      5.8         134000        105  Thriller
..                 ...      ...            ...        ...       ...
964   Gentleman Caller      8.5              9        103    Horror
965           Cintihar      2.5             11         77    Horror
966              Yagna      5.9           1100        131    Horror
967     Once Passed On      6.6              6         91    Horror
968              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [50]:
imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5109 entries, 0 to 968
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_Name     5109 non-null   object
 1   Ratings        5109 non-null   float64
 2   Voting_Counts  5109 non-null   int64
 3   Durations      5109 non-null   int64
 4   Genre          5109 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 239.5+ KB

In [55]:
imdb_movie_data.iloc[4500:5109]

                        Movie_Name  Ratings  Voting_Counts  Durations   Genre
360  The Exorcism of Saint Patrick      3.6            162         90  Horror
361                        Respati      5.8            279        112  Horror
362                  Winter Island      4.6            165        102  Horror
363                          Noise      5.9             19         95  Horror
364                        Tenants      5.8             79         94  Horror
..                             ...      ...            ...        ...     ...
964               Gentleman Caller      8.5              9        103  Horror
965                       Cintihar      2.5             11         77  Horror
966                          Yagna      5.9           1100        131  Horror
967                 Once Passed On      6.6              6         91  Horror
968                          Rahha      2.7             13        135  Horror

[609 rows x 5 columns]

In [59]:
imdb_movie_data_2024

             Movie_Name  Ratings  Voting_Counts  Durations     Genre
0     Kraven the Hunter      5.5          49000        127  Thriller
1               Heretic      7.0         127000        111  Thriller
2              Twisters      6.5         163000        122  Thriller
3              Conclave      7.4         139000          0  Thriller
4                  Trap      5.8         134000        105  Thriller
...                 ...      ...            ...        ...       ...
5104   Gentleman Caller      8.5              9        103    Horror
5105           Cintihar      2.5             11         77    Horror
5106              Yagna      5.9           1100        131    Horror
5107     Once Passed On      6.6              6         91    Horror
5108              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [61]:
imdb_movie_data_2024.tail()0

            Movie_Name  Ratings  Voting_Counts  Durations   Genre
5104  Gentleman Caller      8.5              9        103  Horror
5105          Cintihar      2.5             11         77  Horror
5106             Yagna      5.9           1100        131  Horror
5107    Once Passed On      6.6              6         91  Horror
5108             Rahha      2.7             13        135  Horror

In [63]:
imdb_movie_data_2024.isnull().sum()

Movie_Name       0
Ratings          0
Voting_Counts    0
Durations        0
Genre            0
dtype: int64

In [65]:
imdb_movie_data_2024.duplicated().sum()

0

In [67]:
imdb_movie_data_2024.to_csv('imdb_movie_datas_2024.csv',index=False)

In [69]:
d=pd.read_csv('imdb_movie_datas_2024.csv')

In [71]:
d

             Movie_Name  Ratings  Voting_Counts  Durations     Genre
0     Kraven the Hunter      5.5          49000        127  Thriller
1               Heretic      7.0         127000        111  Thriller
2              Twisters      6.5         163000        122  Thriller
3              Conclave      7.4         139000          0  Thriller
4                  Trap      5.8         134000        105  Thriller
...                 ...      ...            ...        ...       ...
5104   Gentleman Caller      8.5              9        103    Horror
5105           Cintihar      2.5             11         77    Horror
5106              Yagna      5.9           1100        131    Horror
5107     Once Passed On      6.6              6         91    Horror
5108              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [79]:
d.head(20)

                   Movie_Name  Ratings  Voting_Counts  Durations     Genre
0           Kraven the Hunter      5.5          49000        127  Thriller
1                     Heretic      7.0         127000        111  Thriller
2                    Twisters      6.5         163000        122  Thriller
3                    Conclave      7.4         139000        120  Thriller
4                        Trap      5.8         134000        105  Thriller
5                    Babygirl      6.0          50000        114  Thriller
6       Venom: The Last Dance      6.0         112000        110  Thriller
7                    Longlegs      6.6         181000        101  Thriller
8   Pushpa: The Rule - Part 2      6.1          55000        201  Thriller
9                    Presence      6.1          19000         84  Thriller
10                Blink Twice      6.5         103000        102  Thriller
11                  The Order      6.8          39000        116  Thriller
12    Furiosa: A Mad Max Saga      7.5         282000        148  Thriller
13             Alien: Romulus      7.1         240000        119  Thriller
14               Emilia Pérez      5.4          86000        132  Thriller
15                    Smile 2      6.7          99000        127  Thriller
16                   Juror #2      7.0          94000        114  Thriller
17                       Eden      6.1            827        120  Thriller
18              The Beekeeper      6.3         154000        105  Thriller
19                  Civil War      7.0         234000        109  Thriller

In [81]:
d.to_csv('imdb_movie_datas_2024.csv',index=False)

In [83]:
da=pd.read_csv('imdb_movie_datas_2024.csv')

In [85]:
da

             Movie_Name  Ratings  Voting_Counts  Durations     Genre
0     Kraven the Hunter      5.5          49000        127  Thriller
1               Heretic      7.0         127000        111  Thriller
2              Twisters      6.5         163000        122  Thriller
3              Conclave      7.4         139000        120  Thriller
4                  Trap      5.8         134000        105  Thriller
...                 ...      ...            ...        ...       ...
5104   Gentleman Caller      8.5              9        103    Horror
5105           Cintihar      2.5             11         77    Horror
5106              Yagna      5.9           1100        131    Horror
5107     Once Passed On      6.6              6         91    Horror
5108              Rahha      2.7             13        135    Horror

[5109 rows x 5 columns]

In [89]:
da.head(20)

                   Movie_Name  Ratings  Voting_Counts  Durations     Genre
0           Kraven the Hunter      5.5          49000        127  Thriller
1                     Heretic      7.0         127000        111  Thriller
2                    Twisters      6.5         163000        122  Thriller
3                    Conclave      7.4         139000        120  Thriller
4                        Trap      5.8         134000        105  Thriller
5                    Babygirl      6.0          50000        114  Thriller
6       Venom: The Last Dance      6.0         112000        110  Thriller
7                    Longlegs      6.6         181000        101  Thriller
8   Pushpa: The Rule - Part 2      6.1          55000        201  Thriller
9                    Presence      6.1          19000         84  Thriller
10                Blink Twice      6.5         103000        102  Thriller
11                  The Order      6.8          39000        116  Thriller
12    Furiosa: A Mad Max Saga      7.5         282000        148  Thriller
13             Alien: Romulus      7.1         240000        119  Thriller
14               Emilia Pérez      5.4          86000        132  Thriller
15                    Smile 2      6.7          99000        127  Thriller
16                   Juror #2      7.0          94000        114  Thriller
17                       Eden      6.1            827        120  Thriller
18              The Beekeeper      6.3         154000        105  Thriller
19                  Civil War      7.0         234000        109  Thriller