In [1]:
import pandas as pd

In [3]:
action_datas=pd.read_csv('Action_movie_data.csv')

In [5]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,(49K),2h 7m,Action
1,1,2. Twisters,6.5,(163K),2h 2m,Action
2,2,3. Gladiator II,6.5,(221K),2h 28m,Action
3,3,4. Sonic the Hedgehog 3,6.9,(55K),1h 50m,Action
4,4,5. Venom: The Last Dance,6.0,(112K),1h 50m,Action
...,...,...,...,...,...,...
793,793,1257. Lealtad o Morir,8.2,(9),1h 27m,Action
794,794,1261. PW V: Tears of the Fallen,8.2,(11),1h,Action
795,795,1297. Gadha17,8.0,(11),1h 30m,Action
796,796,1302. Bring Back the Colour,5.9,(7),47m,Action
797,797,1316. Killer Lee,1.9,(9),1h 27m,Action

In [7]:
action_datas['Voting_Counts'] = action_datas['Voting_Counts'].replace({'[()]': ''}, regex=True)

In [9]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49K,2h 7m,Action
1,1,2. Twisters,6.5,163K,2h 2m,Action
2,2,3. Gladiator II,6.5,221K,2h 28m,Action
3,3,4. Sonic the Hedgehog 3,6.9,55K,1h 50m,Action
4,4,5. Venom: The Last Dance,6.0,112K,1h 50m,Action
...,...,...,...,...,...,...
793,793,1257. Lealtad o Morir,8.2,9,1h 27m,Action
794,794,1261. PW V: Tears of the Fallen,8.2,11,1h,Action
795,795,1297. Gadha17,8.0,11,1h 30m,Action
796,796,1302. Bring Back the Colour,5.9,7,47m,Action
797,797,1316. Killer Lee,1.9,9,1h 27m,Action

In [11]:
action_datas['Voting_Counts'] = action_datas['Voting_Counts'].apply(
    lambda x: float(x.replace('K', '').replace('k', '')) * 1000 if 'K' in x or 'k' in x else x
)

In [13]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000.0,2h 7m,Action
1,1,2. Twisters,6.5,163000.0,2h 2m,Action
2,2,3. Gladiator II,6.5,221000.0,2h 28m,Action
3,3,4. Sonic the Hedgehog 3,6.9,55000.0,1h 50m,Action
4,4,5. Venom: The Last Dance,6.0,112000.0,1h 50m,Action
...,...,...,...,...,...,...
793,793,1257. Lealtad o Morir,8.2,9,1h 27m,Action
794,794,1261. PW V: Tears of the Fallen,8.2,11,1h,Action
795,795,1297. Gadha17,8.0,11,1h 30m,Action
796,796,1302. Bring Back the Colour,5.9,7,47m,Action
797,797,1316. Killer Lee,1.9,9,1h 27m,Action

In [15]:
action_datas['Voting_Counts']=action_datas['Voting_Counts'].astype(int)

In [17]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000,2h 7m,Action
1,1,2. Twisters,6.5,163000,2h 2m,Action
2,2,3. Gladiator II,6.5,221000,2h 28m,Action
3,3,4. Sonic the Hedgehog 3,6.9,55000,1h 50m,Action
4,4,5. Venom: The Last Dance,6.0,112000,1h 50m,Action
...,...,...,...,...,...,...
793,793,1257. Lealtad o Morir,8.2,9,1h 27m,Action
794,794,1261. PW V: Tears of the Fallen,8.2,11,1h,Action
795,795,1297. Gadha17,8.0,11,1h 30m,Action
796,796,1302. Bring Back the Colour,5.9,7,47m,Action
797,797,1316. Killer Lee,1.9,9,1h 27m,Action

In [19]:
action_datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     798 non-null    int64
 1   Movie_Name     798 non-null    object
 2   Ratings        798 non-null    float64
 3   Voting_Counts  798 non-null    int32
 4   Durations      798 non-null    object
 5   Genre          798 non-null    object
dtypes: float64(1), int32(1), int64(1), object(3)
memory usage: 34.4+ KB

In [21]:
action_datas['Voting_Counts']

0       49000
1      163000
2      221000
3       55000
4      112000
        ...
793         9
794        11
795        11
796         7
797         9
Name: Voting_Counts, Length: 798, dtype: int32

In [23]:
import re

In [25]:
import pandas as pd
import re

# Sample data
#data = {'Duration': ['1h 58m', '2h 58m', '0h 45m', '3h 10m']}
#df = pd.DataFrame(data)

# Function to convert durations to minutes
def convert_to_minutes(Durations):
    hours = 0
    minutes = 0
    # Use regex to extract hours and minutes
    match = re.match(r'(?P<hours>\d+)h (?P<minutes>\d+)m', Durations)
    if match:
        hours = int(match.group('hours'))
        minutes = int(match.group('minutes'))
    # Convert to minutes (1 hour = 60 minutes)
    return hours * 60 + minutes

# Apply the conversion function to the 'Duration' column
action_datas['Durations'] = action_datas['Durations'].apply(convert_to_minutes)

In [27]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000,127,Action
1,1,2. Twisters,6.5,163000,122,Action
2,2,3. Gladiator II,6.5,221000,148,Action
3,3,4. Sonic the Hedgehog 3,6.9,55000,110,Action
4,4,5. Venom: The Last Dance,6.0,112000,110,Action
...,...,...,...,...,...,...
793,793,1257. Lealtad o Morir,8.2,9,87,Action
794,794,1261. PW V: Tears of the Fallen,8.2,11,0,Action
795,795,1297. Gadha17,8.0,11,90,Action
796,796,1302. Bring Back the Colour,5.9,7,0,Action
797,797,1316. Killer Lee,1.9,9,87,Action

In [29]:
action_datas['Movie_Name'] = action_datas['Movie_Name'].replace(r'^\d+\.\s*', '', regex=True)

In [31]:
action_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,Kraven the Hunter,5.5,49000,127,Action
1,1,Twisters,6.5,163000,122,Action
2,2,Gladiator II,6.5,221000,148,Action
3,3,Sonic the Hedgehog 3,6.9,55000,110,Action
4,4,Venom: The Last Dance,6.0,112000,110,Action
...,...,...,...,...,...,...
793,793,Lealtad o Morir,8.2,9,87,Action
794,794,PW V: Tears of the Fallen,8.2,11,0,Action
795,795,Gadha17,8.0,11,90,Action
796,796,Bring Back the Colour,5.9,7,0,Action
797,797,Killer Lee,1.9,9,87,Action

In [33]:
action_movie=action_datas.drop(columns='Unnamed: 0')

In [35]:
action_movie

                    Movie_Name  Ratings  Voting_Counts  Durations   Genre
0            Kraven the Hunter      5.5          49000        127  Action
1                     Twisters      6.5         163000        122  Action
2                 Gladiator II      6.5         221000        148  Action
3         Sonic the Hedgehog 3      6.9          55000        110  Action
4        Venom: The Last Dance      6.0         112000        110  Action
..                         ...      ...            ...        ...     ...
793            Lealtad o Morir      8.2              9         87  Action
794  PW V: Tears of the Fallen      8.2             11          0  Action
795                    Gadha17      8.0             11         90  Action
796      Bring Back the Colour      5.9              7          0  Action
797                 Killer Lee      1.9              9         87  Action

[798 rows x 5 columns]

In [37]:
action_movie.loc[action_movie['Voting_Counts'].idxmax()]

Movie_Name       Dune: Part Two
Ratings                     8.5
Voting_Counts            617000
Durations                   166
Genre                    Action
Name: 6, dtype: object

In [39]:
action_movie.to_csv('Action_movie_datas.csv')