In [1]:
import pandas as pd

In [15]:
thriller_datas=pd.read_csv('Thriller_data.csv')

In [17]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,(49K),2h 7m,Thriller
1,1,2. Heretic,7.0,(127K),1h 51m,Thriller
2,2,3. Twisters,6.5,(163K),2h 2m,Thriller
3,3,4. Conclave,7.4,(139K),2h,Thriller
4,4,5. Trap,5.8,(134K),1h 45m,Thriller
...,...,...,...,...,...,...
1159,1159,1393. Vergüenza,6.8,(21),1h 43m,Thriller
1160,1160,1394. Saapala,5.9,(39),2h 4m,Thriller
1161,1161,1396. House on Rockingham,3.7,(133),1h 18m,Thriller
1162,1162,1398. Dead Talk Tales: Volume I,6.6,(26),1h 38m,Thriller
1163,1163,1400. The Red Files,8.5,(607),2h 23m,Thriller

In [20]:
thriller_datas['Voting_Counts'] = thriller_datas['Voting_Counts'].replace({'[()]': ''}, regex=True)

In [22]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49K,2h 7m,Thriller
1,1,2. Heretic,7.0,127K,1h 51m,Thriller
2,2,3. Twisters,6.5,163K,2h 2m,Thriller
3,3,4. Conclave,7.4,139K,2h,Thriller
4,4,5. Trap,5.8,134K,1h 45m,Thriller
...,...,...,...,...,...,...
1159,1159,1393. Vergüenza,6.8,21,1h 43m,Thriller
1160,1160,1394. Saapala,5.9,39,2h 4m,Thriller
1161,1161,1396. House on Rockingham,3.7,133,1h 18m,Thriller
1162,1162,1398. Dead Talk Tales: Volume I,6.6,26,1h 38m,Thriller
1163,1163,1400. The Red Files,8.5,607,2h 23m,Thriller

In [24]:
thriller_datas['Voting_Counts'] = thriller_datas['Voting_Counts'].apply(
    lambda x: float(x.replace('K', '').replace('k', '')) * 1000 if 'K' in x or 'k' in x else x
)

In [26]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000.0,2h 7m,Thriller
1,1,2. Heretic,7.0,127000.0,1h 51m,Thriller
2,2,3. Twisters,6.5,163000.0,2h 2m,Thriller
3,3,4. Conclave,7.4,139000.0,2h,Thriller
4,4,5. Trap,5.8,134000.0,1h 45m,Thriller
...,...,...,...,...,...,...
1159,1159,1393. Vergüenza,6.8,21,1h 43m,Thriller
1160,1160,1394. Saapala,5.9,39,2h 4m,Thriller
1161,1161,1396. House on Rockingham,3.7,133,1h 18m,Thriller
1162,1162,1398. Dead Talk Tales: Volume I,6.6,26,1h 38m,Thriller
1163,1163,1400. The Red Files,8.5,607,2h 23m,Thriller

In [30]:
thriller_datas['Voting_Counts']=thriller_datas['Voting_Counts'].astype(int)

In [32]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000,2h 7m,Thriller
1,1,2. Heretic,7.0,127000,1h 51m,Thriller
2,2,3. Twisters,6.5,163000,2h 2m,Thriller
3,3,4. Conclave,7.4,139000,2h,Thriller
4,4,5. Trap,5.8,134000,1h 45m,Thriller
...,...,...,...,...,...,...
1159,1159,1393. Vergüenza,6.8,21,1h 43m,Thriller
1160,1160,1394. Saapala,5.9,39,2h 4m,Thriller
1161,1161,1396. House on Rockingham,3.7,133,1h 18m,Thriller
1162,1162,1398. Dead Talk Tales: Volume I,6.6,26,1h 38m,Thriller
1163,1163,1400. The Red Files,8.5,607,2h 23m,Thriller

In [34]:
import re

In [36]:
import pandas as pd
import re

# Sample data
#data = {'Duration': ['1h 58m', '2h 58m', '0h 45m', '3h 10m']}
#df = pd.DataFrame(data)

# Function to convert durations to minutes
def convert_to_minutes(Durations):
    hours = 0
    minutes = 0
    # Use regex to extract hours and minutes
    match = re.match(r'(?P<hours>\d+)h (?P<minutes>\d+)m', Durations)
    if match:
        hours = int(match.group('hours'))
        minutes = int(match.group('minutes'))
    # Convert to minutes (1 hour = 60 minutes)
    return hours * 60 + minutes

# Apply the conversion function to the 'Duration' column
thriller_datas['Durations'] = thriller_datas['Durations'].apply(convert_to_minutes)

In [38]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,1. Kraven the Hunter,5.5,49000,127,Thriller
1,1,2. Heretic,7.0,127000,111,Thriller
2,2,3. Twisters,6.5,163000,122,Thriller
3,3,4. Conclave,7.4,139000,0,Thriller
4,4,5. Trap,5.8,134000,105,Thriller
...,...,...,...,...,...,...
1159,1159,1393. Vergüenza,6.8,21,103,Thriller
1160,1160,1394. Saapala,5.9,39,124,Thriller
1161,1161,1396. House on Rockingham,3.7,133,78,Thriller
1162,1162,1398. Dead Talk Tales: Volume I,6.6,26,98,Thriller
1163,1163,1400. The Red Files,8.5,607,143,Thriller

In [40]:
thriller_datas['Movie_Name'] = thriller_datas['Movie_Name'].replace(r'^\d+\.\s*', '', regex=True)

In [42]:
thriller_datas

,Unnamed: 0,Movie_Name,Ratings,Voting_Counts,Durations,Genre
0,0,Kraven the Hunter,5.5,49000,127,Thriller
1,1,Heretic,7.0,127000,111,Thriller
2,2,Twisters,6.5,163000,122,Thriller
3,3,Conclave,7.4,139000,0,Thriller
4,4,Trap,5.8,134000,105,Thriller
...,...,...,...,...,...,...
1159,1159,Vergüenza,6.8,21,103,Thriller
1160,1160,Saapala,5.9,39,124,Thriller
1161,1161,House on Rockingham,3.7,133,78,Thriller
1162,1162,Dead Talk Tales: Volume I,6.6,26,98,Thriller
1163,1163,The Red Files,8.5,607,143,Thriller

In [44]:
thriller_movie=thriller_datas.drop(columns='Unnamed: 0')

In [46]:
thriller_movie

                     Movie_Name  Ratings  Voting_Counts  Durations     Genre
0             Kraven the Hunter      5.5          49000        127  Thriller
1                       Heretic      7.0         127000        111  Thriller
2                      Twisters      6.5         163000        122  Thriller
3                      Conclave      7.4         139000          0  Thriller
4                          Trap      5.8         134000        105  Thriller
...                         ...      ...            ...        ...       ...
1159                  Vergüenza      6.8             21        103  Thriller
1160                    Saapala      5.9             39        124  Thriller
1161        House on Rockingham      3.7            133         78  Thriller
1162  Dead Talk Tales: Volume I      6.6             26         98  Thriller
1163              The Red Files      8.5            607        143  Thriller

[1164 rows x 5 columns]

In [48]:
thriller_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164 entries, 0 to 1163
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_Name     1164 non-null   object
 1   Ratings        1164 non-null   float64
 2   Voting_Counts  1164 non-null   int32
 3   Durations      1164 non-null   int64
 4   Genre          1164 non-null   object
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 41.1+ KB

In [52]:
thriller_movie.loc[thriller_movie['Voting_Counts'].idxmax()]

Movie_Name       Furiosa: A Mad Max Saga
Ratings                              7.5
Voting_Counts                     282000
Durations                            148
Genre                           Thriller
Name: 12, dtype: object

In [54]:
thriller_movie.to_csv('Thriller_movie_datas.csv',index=False)